<%if(false){%><!-- <%=link%>, <%=address%> --><%}%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="DM Contest">
  <meta name="keywords" content="Discrete Mathematics, Contest">
  <title>mail/reminder</title>
  <style type="text/css"><%include ../style %></style>
</head>
<body><div class="dmmail-back">
  <div class="dmmail-countainer">
    <div class="dmmail-header">
      <%include ../header%>
      <h1>تنظیم مجدد گذرواژه</h1>
    </div>
    <div class="dmmail-cnt">
      <p>کاربر گرامی</p>
      <p>با سلام</p>
      <p>این ایمیل با توجه به درخواست شما راجع به فراموشی گذرواژه برایتان ارسال شده است. لطفاً برای تنظیم مجدد گذرواژه خود <a href="<%=link%>" target="_blank">این جا</a> را کلیک کنید.</p>
      <p>اگر شما درخواست تغییر گذرواژه نداده اید این ایمیل را نادیده بگیرید.</p>
      <p>با تشکر</p>
      <p class="dmmail-left">تیم فنی مسابقه</p>
    </div>
    <div class="dmmail-footer"><%include ../footer%></div>
  </div>
</div></body>
</html>
