<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../partials/head %>
    <!-- ===============    dashboard core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
</head>
<body>
<% include ../partials/header %>
<div class="jumbotron" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <h2>صفحه مدیریت</h2>
            </div>
        </div>
        </div>
</div>
<div class="jumbotron" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <a class="btn btn-default btn-lg btn-block" href="/admin/users">
                        <span class="glyphicon glyphicon-th-list"></span> Users
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-default btn-lg btn-block" href="/admin/competitions">
                        <span class="glyphicon glyphicon-th-list"></span> Competitions
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-default btn-lg btn-block" href="/admin/problems">
                        <span class="glyphicon glyphicon-th-list"></span> Problems
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>