<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../partials/head %>
    <!-- ===============    dashboard core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
</head>
<body>
<% include ../partials/header %>
<div class="backch">
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8"></div>
            <!-- <div class="col-md-4">
                <h2>Admin Dashboard</h2>
            </div> -->
            <div class="col-md-6">
                <h1><span class="glyphicon glyphicon-cog"></span> Admin</h1>
            </div>
        </div>
        </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="/admin/groups">
                        <span class="glyphicon glyphicon-th-large"></span> Groups
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="/admin/competition">
                        <span class="glyphicon glyphicon-flag"></span> Competitions
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="/admin/users">
                        <span class="glyphicon glyphicon-user"></span> Users
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="/admin/problems">
                        <span class="glyphicon glyphicon-pencil"></span> Problems
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>
</body>
</html>