<% include ../partials/header %>

<header class="jumbotron" dir="rtl">
    <div class="container">
        <h1> Welcome To Proff Administration!</h1>
        <p>
            <a class="btn btn-primary btn-lg" href="/admin/users">
                <span class="glyphicon glyphicon-th-list"></span> Users
            </a>
        </p>

        <p>
            <a class="btn btn-primary btn-lg" href="/admin/groups">
                <span class="glyphicon glyphicon-th-list"></span> Groups
            </a>
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/admin/problems">
                <span class="glyphicon glyphicon-th-list"></span> Problems
            </a>
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/admin/tags">
                <span class="glyphicon glyphicon-th-list"></span> Tags
            </a>
        </p>
    </div>
    <a href="/admin/jobs"><span class="glyphicon glyphicon-chevron-left"></span>  Go back</a>
</header>

<% include ../partials/footer %>
