<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="DM Contest">
<meta name="keywords" content="Discrete Mathematics, Contest">
<link rel="icon" type="image/png" href="/firstpage/img/favicon.png" />
<link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css" media="all" />
<script src="/jquery/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" media="all" />
<script type="text/javascript" src="/scripts/msgbox.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/msgbox.css" />
<link rel="stylesheet" type="text/css" href="/sweetalert/sweetalert2.min.css"></li>
<script src="/sweetalert/sweetalert2.min.js"></script>