<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
    <style>
        .container{
            width: 100%;
        }
    </style>
</head>
<body>
    <% include ../../partials/header %>
    <div class="backch">
     <div class="jumbotron">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <h1><span class="glyphicon glyphicon-flag"></span> Competitions</h1>
                 </div>
                 <div class="col-md-6" style="padding-top: 20px;">
                     <a class="btn btn-primary btn-lg btn-block" href="/admin/competition/puzzles">List View</a>
                 </div>
             </div>
         </div>
     </div>
     <div id="puzzles_list" class="row text-center problem-cont" style="/*display:flex; flex-wrap: wrap;*/">
     <div class="col-xs-12" style="padding: 6px 16px; text-align: left;">
       <input class="search" placeholder="&#xe003;" type="text" />
     </div>
      <ul class="list" style="list-style: none;">
        <% problems.forEach(function(problem){ %>
        <li>
            <div class="col-md-3 col-xs-12">
                <div class="thumbnail">
                   <div class="caption">
                       <h4 class="problemname"><%= problem.name %></h4>
                   </div>
                   <p>#</p>
                    <p>
                        <a href="/admin/competition/problems/<%= problem._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        </li>
        <% }); %>
        </ul>
    </div>
    </div>
    <% include ../../partials/footer %>
    <script src="/listjs/list.min.js"></script>
    <script src="/scripts/problist.js"></script>
</body>
</html>