<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <!-- ===============    dashboard core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
    <style>
        .container{
            width: 100%;
        }
    </style>
</head>
<body>
    <% include ../../partials/header %>
     <div class="jumbotron">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <h1><span class="glyphicon glyphicon-tent"></span>problem</h1>
                 </div>
             </div>
         </div>
     </div>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;margin-left: 10px;">
        <% problems.forEach(function(problem){ %>
            <div class="col-md-3 col-xs-12">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= problem.name %></h4>
                   </div>
                    <p>
                        <a href="/admin/competition/problems/<%= problem._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

</body>
</html>