<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <!-- ===============    groupedit CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/group/groupedit.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Create New Group</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/admin/groups" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="groupName" placeholder="name">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Create!</button>
                </div>
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>
    <% include ../../partials/footer %>
</body>
</html>