<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
    <style>
        .container{
            width: 100%;
        }
    </style>
</head>
<body>
<% include ../../partials/header %>
<div class="backch">
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><span class="glyphicon glyphicon-flag"></span> Competitions</h1>
            </div>
            <div class="col-md-6" style="padding-top: 20px;">
                <a class="btn btn-primary btn-lg btn-block" href="/admin/competition">All Problems</a>
            </div>
        </div>
    </div>
</div>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% puzzles.forEach(function(puzzle){ %>
    <div class="col-md-3 col-xs-12">
        <div class="thumbnail">
            <div class="caption">
                <h4><%= puzzle.group.name %></h4>
            </div>
            <p>
                <a href="/admin/competition/puzzles/<%= puzzle._id %>" class="btn btn-primary">More Info</a>
            </p>
        </div>
    </div>
    <% }); %>
</div>
</div>
<% include ../../partials/footer %>
</body>
</html>