<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <!-- ===============    problemcss core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/problem-view/problemcss.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
<div class="row problemname">
    <div class="container">
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3 pname">
            <h1><%=puzzle.name%></h1>
            <h1><%=puzzle.group.name%></h1>
        </div>
    </div>
</div>
<div class="row problembody">
        <%puzzle.submisson.file%>
        <div class="col-md-3 submitpart">
            <a style="text-decoration: none;" href="/admin/competition/puzzles/<%=puzzle._id%>/accept" >
                <button class="btn btn-default btn-lg btn-block btn-success" style="margin-bottom:25px; ">Accept</button></a>
            <a style="text-decoration: none;" href="/admin/competition/puzzles/<%=puzzle._id%>/reject" >
                <button class="btn btn-default btn-lg btn-block btn-warning" style="margin-bottom:25px; ">Reject</button></a>
        </div>
    </div>
</div>
<% include ../../partials/footer %>
</body>
</html>