<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../partials/head %>
    <!-- ===============    dashboard core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
</head>
<body>
<% include ../partials/header %>
<div class="backch">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h1><span class="glyphicon glyphicon-stats"></span> وضعیت گروه‌ها</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron"><div class="container"><div class="row">
        <table class="table table-striped table-hover">
            <tr>
                <th>نام گروه</th>
                <th>امتیاز گروه</th>
            </tr>
            <%groups.forEach(function (group) {%>
            <tr >
                <td><%=group.name%></td>
                <td><%=group.competition.score%></td>
            </tr>
            <%});%>
        </table>
    </div></div></div>
</div>
<% include ../partials/footer %>
</body>
</html>