<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/dashboard/dashboard.css" media="all" />
    <style type="text/css">.btn{margin-bottom: 0;</style>
</head>
<body>
<% include ../partials/header %>
<div class="backch">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h1><span class="glyphicon glyphicon-stats"></span> وضعیت گروه‌ها</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron"><div class="container"><div class="row" id="puzzles_list">
        <div style="padding: 6px;">
            <input class="search" placeholder="&#xe003;" type="text" />
            مرتب بر اساس: 
            <button class="sort btn btn-primary btn-sm" data-sort="gpname">نام گروه</button>
            <button class="sort btn btn-info btn-sm" data-sort="gpscore" id="defaultsortbtn">امتیاز</button>
        </div>
        <table class="table table-striped table-hover">
            <thead><tr>
                <th>نام گروه</th>
                <th>امتیاز گروه</th>
            </tr></thead>
            <tbody class="list">
                <%groups.forEach(function (group) {%>
                <tr class="<% if(currentUser && currentUser.group && group.name == currentUser.group.name){%>info<%}%>">
                    <td class="gpname"><%=group.name%></td>
                    <td class="gpscore"><%=group.score%></td>
                </tr>
                <%});%>
            </tbody>
        </table>
    </div></div></div>
</div>
<% include ../partials/footer %>
<script src="<%=baseURL%>/listjs/list.min.js"></script>
<script>
    var options = {
        valueNames: ['gpname', 'gpscore']
    };

    var hackerList = new List('puzzles_list', options);

    jQuery(document).ready(function($) {
        $("#defaultsortbtn").trigger("click");
        $("#defaultsortbtn").trigger("click");
    });
</script>
</body>
</html>