<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Responsive Coming soon Template">
    <meta name="keywords" content="Coming soon template, Bootstrap template, Coming soon, Responsive coming soon Template, Under Construction, countdown , Mailchimp, Youtube Video">
    <meta name="author" content="traivan98">

    <title>شکار معما</title>

    <!-- favicon linke -->
    <link rel="icon" type="image/png" href="/firstpage/img/favicon.png" />
    <!-- ===============    Bootstrap core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css" media="all" />
</head>
<body>
<nav class="navbar navbar-inverse  " style="margin-bottom: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/firstpage/img/logo.png" width="30px"height="30px">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                <li><a class="btn-group-sm btn-default navbar-btn" href="/login">ورود</a></li>
                <li><a class="btn-group-sm btn-default navbar-btn" href="/register">ثبت نام</a></li>
                <% } else { %>
                <%if(currentUser.group){%>
                <li><a href="#"><%= currentUser.group.name%></a></li>
                <%}%>
                <li><a href="#"><%= currentUser.username %> حساب کاربری  </a></li>
                <li><a href="/logout">خروج</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-3">
        <p class="lead">Survey</p>
        <div class="list-group">
            <%groups.forEach(function (group) {%>
            <li class="list-group-item"><%=group.name%>  Stage : <%=group.competition.stage%></li>
            <%});%>
        </div>
    </div>
</div>

</body>