<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../partials/head %>
    <!-- ===============    ranking CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/ranking/ranking.css" media="all" />
</head>
<body>
<% include ../partials/header %>
<div class="row">
    <div class="container">
        <div class="col-md-3 text-left">
            <h1>وضعیت گروه ها</h1></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="col-md-10 col-md-offset-1">

            <div class="list-group">
                <div class="list-group-item text-left eachgroup">
                    <div class="col-md-4 text-center" style="border-left: solid #000000 2px;height: 100%;padding: 15px 0 0 0 ;border-bottom: solid #000000 2px;">اسم گروه ها</div>
                    <div class="col-md-4 text-center" style="border-left: solid #000000 2px;height: 100%;padding: 15px 0 0 0 ;border-bottom: solid #000000 2px;">مرحله گروه</div>
                    <div class="col-md-4 text-center" style="height: 100%;padding: 15px 0 0 0 ;border-bottom: solid #000000 2px;">امتیاز گروه</div>
                </div>
                <%groups.forEach(function (group) {%>
                <div class="list-group-item text-left eachgroup">
                    <div class="col-md-4" style="border-left: solid #E0E0E0 2px;height: 100%;padding: 20px 30px 0 0;"><%=group.name%></div>
                    <div class="col-md-4 text-center" style="border-left: solid #E0E0E0 2px;height: 100%;padding: 20px 10px 0 0;"><%=group.competition.stage%></div>
                    <div class="col-md-4 text-center" style="padding: 20px 10px 0 0;"><%=group.competition.score%></div>
                      </div>
                <%});%>
            </div>
        </div>
    </div>
</div>

</body>
</html>