<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="utf-8">
    <title>DMC</title>
    <% include partials/head %>
</head>
<body>
<div class="container"><div class="row">
<div id="hacker-list" class="col-md-4 col-md-offset-4">
    <form action="<%=baseURL%>/admin/console/" method="post">
        <input name="search1" type="text" class="form-control" placeholder="DMC$">
        <input type="submit" class="btn btn-md btn-primary btn-block">
    </form>

    <span class="sort" data-sort="name">Sort by name</span>
    <span class="sort" data-sort="city">Sort by city</span>

    <ul class="list">
        <li>
            <h3 class="name">Jonny</h3>
            <p class="city">Stockholm</p>
        </li>
        <li>
            <h3 class="name">Jonas</h3>
            <p class="city">Berlin</p>
        </li>
    </ul>
</div>
</div></div>
</body>
<script src="<%=baseURL%>/listjs/list.min.js"></script>
<script>
    var options = {
        valueNames: [ 'name', 'city' ]
    };

    var hackerList = new List('hacker-list', options);
</script>
</html>