<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include partials/head %>
    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
</head>
<body>
<% include partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">بازیابی گذرواژه</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/forgot" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">بازیابی گذرواژه</button>
                </div>
            </form>
            <a href="/login">بازگشت</a>
        </div>
    </div>
</div>
<% include partials/footer %>
</body>
</html>