<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include partials/head %>
</head>
<body>
<% include partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">بازیابی گذرواژه</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/forgot" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="email" required  data-validation="email" autofocus>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block">بازیابی گذرواژه</button>
                </div>
            </form>
            <a class="btn btn-primary" href="/login">بازگشت</a>
        </div>
    </div>
</div>
<% include partials/footer %>
<% include partials/formvalidation %>
</body>
</html>