<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include partials/head %>
    <link rel="stylesheet" href="/flipclock/flipclock.css">
</head>
<body>
<% include partials/header %>
<body>
<script src="/flipclock/flipclock.js"></script>
<script src="/flipclock/flipclock.min.js"></script>
<div class="clock"></div>

<script type="text/javascript">

    var clock = $('.clock').FlipClock((new Date(2017,0,6,8,0)-Date.now())/1000, {
        clockFace: 'DailyCounter',
        countdown: true
    });
</script>
</body>
<% include partials/footer %>
</body>
</html>