<!DOCTYPE html>
<html lang="fa-ir">
    <head>
        <title>شکار معما</title>
        <% include partials/head %>
        <!-- ===============    animation core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="/firstpage/css/animate.min.css" media="all" />
        <!-- ===============    icon-moon core CSS     =============== -->
        <!--<link rel="stylesheet" type="text/css" href="css/icon-moon.css" media="all" />-->
        <!-- ===============    Bootstrap core CSS     =============== -->
        <!-- <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css" media="all" /> -->
        <!-- ===============    owl-carousel core CSS     =============== -->
        <!--<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" media="all" />-->
        <!-- ===============    reset core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="/firstpage/css/reset.css" media="all" />
        <!-- ===============    theme core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="/firstpage/css/theme.css" media="all" />
        <!-- ===============    os core CSS     =============== -->
        <!--<link rel="stylesheet" type="text/css" href="css/theme-style/os-style.css" media="all" />-->
        <!-- ===============    dark core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="/firstpage/css/dark.css" media="all" />
        <!-- ===============    extra core CSS     =============== -->
        <!--<link rel="stylesheet" type="text/css" href="css/extra.css" media="all" />-->
        <!-- ===============    content color core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="/firstpage/css/content-color/orange.css" media="all" />
        <!-- ===============    responsive core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="/firstpage/css/responsive.css" media="all" />

        <!-- ===============    Google fonts CSS     =============== -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Raleway:600,700,900,400' rel='stylesheet' type='text/css'> -->
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <!-- ===============    Start template markup     =============== -->

        <div id="boss-preloader">
            <div class="boss-pre-vcenter text-center">
                <div id="boss-status">
                    <img src="/firstpage/img/logo-one.png" alt="traivan98 logo" class="img-responsive center-block">
                </div>
                <h4>Loading</h4>
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                    <div class="bounce4"></div>
                    <div class="bounce5"></div>
                    <!--<div class="bounce6"></div>-->
                    <!--<div class="bounce7"></div>-->
                    <!--<div class="bounce8"></div>-->
                </div>
            </div>
        </div>
        <% include partials/header %>
        <!--    home area section-->
        <section class="boss-home-area" id="boss-home"   >
            <div class="boss-gradient"></div><!-- gradient image -->
            <!-- container -->
            <div class="container" style="background-color: rgba(10, 10, 10, 0.51);">
                <!-- boss-wrapper vertically center -->
                <div class="boss-wrapper" >
                    <div class="row" >
                        <div class="col-sm-12 text-center">
                            <div class="boss-logo wow fadeIn" data-wow-delay="1.5s">
                                <img  src="/firstpage/img/logo-one.png" alt="acm logo" class="img-responsive center-block" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8 text-center">
                            <div class="boss-header wow fadeInDown" style="font-family: IRANSansWeb;">
                                <h1>!اتفاقی بزرگ در راه است</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center ">
                            <div class="boss-countdown wow fadeInLeft " data-wow-delay="3s" data-wow-offset="-100"></div>
                        </div>
                    </div>
                </div>
                <!--/ boss-wrapper vertically center -->
                <div class="boss-scroll-down hidden-xs wow fadeInDown"   data-wow-delay="4s" data-wow-offset="-100">
                    <a href="#service" style="width: 100px;">
                        <i class="glyphicon" style="font-family: IRANSansWeb;"> بیشتر بدانید</i>
                    </a>
                </div>
            </div>
            <!-- /.container -->
        </section>
        <!--    / END home area section-->

        <footer class="boss-footer-area">
            <!-- container -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="boss-copyright wow fadeInUp" data-wow-offset="50">
                            <a href="http://acm.ut.ac.ir" target="_blank">
                                <img src="/firstpage/img/logo.png" alt="ACM" class="img-responsive center-block">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ container -->
        </footer>
        <% include partials/footer %>

        <!--/ END footer area -->

        <!-- ===============    /End template markup     =============== -->

        <!-- ===============    jQuery core JavaScript     =============== -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
        <script src="/jquery/jquery-1.11.2.min.js"></script>
        <!-- <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script> -->
        <!-- ===============    Bootstrap core JavaScript     =============== -->
        <script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>
        <!-- ===============    wow core JavaScript     =============== -->
        <script type="text/javascript" src="/firstpage/js/wow.min.js"></script>
        <!-- ===============    backstretch core JavaScript     =============== -->
        <script type="text/javascript" src="/jquery/jquery.backstretch.min.js"></script>
        <!-- ===============    countdown core JavaScript     =============== -->
        <script type="text/javascript" src="/jquery/jquery.countdown.js"></script>
        <!-- ===============    nicescroll core JavaScript     =============== -->
        <script type="text/javascript" src="/jquery/jquery.nicescroll.min.js"></script>
        <!-- ===============    owl-carousel core JavaScript     =============== -->
        <!-- <script type="text/javascript" src="/firstpage/js/owl.carousel.min.js"></script> -->
        <!-- ===============    ajaxchimp JavaScript Plugin    =============== -->
        <script type="text/javascript" src="/jquery/jquery.ajaxchimp.js"></script>
        <!-- ===============    ROW JavaScript Plugin    =============== -->
        <script type="text/javascript" src="/firstpage/js/row-plugin.js"></script>
        <!-- ===============    Active core JavaScript     =============== -->
        <script type="text/javascript" src="/firstpage/js/active.js"></script>
        <script type="text/javascript">
            // wow js active here
            new WOW().init({
                offset:       200   // distance to the element when triggering the animation (default is 0)
            });
        </script>

    </body>
</html>