<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Responsive Coming soon Template">
    <meta name="keywords" content="Coming soon template, Bootstrap template, Coming soon, Responsive coming soon Template, Under Construction, countdown , Mailchimp, Youtube Video">
    <meta name="author" content="traivan98">

    <title>شکار معما</title>

    <!-- favicon linke -->
    <link rel="icon" type="image/png" href="/firstpage/img/favicon.png" />


    <!-- ===============    animation core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/firstpage/css/animate.min.css" media="all" />
    <!-- ===============    icon-moon core CSS     =============== -->
    <!--<link rel="stylesheet" type="text/css" href="css/icon-moon.css" media="all" />-->
    <!-- ===============    Bootstrap core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css" media="all" />
    <!-- ===============    owl-carousel core CSS     =============== -->
    <!--<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" media="all" />-->
    <!-- ===============    reset core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/firstpage/css/reset.css" media="all" />
    <!-- ===============    theme core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/firstpage/css/theme.css" media="all" />
    <!-- ===============    os core CSS     =============== -->
    <!--<link rel="stylesheet" type="text/css" href="css/theme-style/os-style.css" media="all" />-->
    <!-- ===============    dark core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/firstpage/css/dark.css" media="all" />
    <!-- ===============    extra core CSS     =============== -->
    <!--<link rel="stylesheet" type="text/css" href="css/extra.css" media="all" />-->
    <!-- ===============    content color core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/firstpage/css/content-color/orange.css" media="all" />
    <!-- ===============    responsive core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/firstpage/css/responsive.css" media="all" />


    <!-- ===============    Google fonts CSS     =============== -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Raleway:600,700,900,400' rel='stylesheet' type='text/css'> -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- ===============    Start template markup     =============== -->

<div id="boss-preloader">
    <div class="boss-pre-vcenter text-center">
        <div id="boss-status">
            <img src="/firstpage/img/logo-one.png" alt="traivan98 logo" class="img-responsive center-block">
        </div>
        <h4>Loading</h4>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
            <div class="bounce4"></div>
            <div class="bounce5"></div>
            <!--<div class="bounce6"></div>-->
            <!--<div class="bounce7"></div>-->
            <!--<div class="bounce8"></div>-->
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse  " style="margin-bottom: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/firstpage/img/logo.png" width="30px"height="30px">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                <li><a class="btn-group-sm btn-default navbar-btn" href="/login">ورود</a></li>
                <li><a class="btn-group-sm btn-default navbar-btn" href="/register">ثبت نام</a></li>
                <% } else { %>
                <%if(currentUser.group){%>
                <li><a href="#"><%= currentUser.group.name%></a></li>
                <%}%>
                <li><a href="/dashboard"><%= currentUser.username %> حساب کاربری  </a></li>
                <li><a href="/logout">خروج</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<!--    home area section-->
<section class="boss-home-area" id="boss-home"   >
    <div class="boss-gradient"></div><!-- gradient image -->
    <!-- container -->
    <div class="container" style="background-color: rgba(10, 10, 10, 0.51);">
        <!-- boss-wrapper vertically center -->
        <div class="boss-wrapper" >
            <div class="row" >
                <div class="col-sm-12 text-center">
                    <div class="boss-logo wow fadeIn" data-wow-delay="1.5s">
                        <img  src="/firstpage/img/logo-one.png" alt="traivan98 logo" class="img-responsive center-block" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 text-center">
                    <div class="boss-header wow fadeInDown" style="font-family: IRANSansWeb;">
                        <h1>!اتفاقی بزرگ در راه است</h1>
                        <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy .</p>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center ">
                    <div class="boss-countdown wow fadeInLeft " data-wow-delay="3s" data-wow-offset="-100"></div>
                </div>
            </div>
        </div>
        <!--/ boss-wrapper vertically center -->
        <div class="boss-scroll-down hidden-xs wow fadeInDown"   data-wow-delay="4s" data-wow-offset="-100">
            <a href="#service" style="width: 100px;">
                <i class="glyphicon" style="font-family: IRANSansWeb;"> بیشتر بدانید</i>
            </a>
        </div>
    </div>
    <!-- /.container -->
</section>
<!--    / END home area section-->

<!-- START service area -->
<section class="boss-service-area" id="service" style="font-family: IRANSansWeb;padding-top: 20px;">
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="boss-section-heading wow zoomIn" data-wow-delay="0.5">
                    <h2 >مراحل مسابقه</h2>
                    <p>سه مرحله تا رسیدن به ماز</p>
                    <div class="boss-header-border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="boss-single-service-2  wow fadeInUp" data-wow-delay="1s">
                    <img src="/firstpage/img/badges-dark/BADGE-1.png" alt="" class="img-responsive boss-service-2-image">
                    <div class="boss-single-service-2-content">
                        <article class="text-left row">
                            <div class="col-md-8 col-md-offset-5 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
                                <h3 >مرحله سوم</h3>
                                <p class="sub-title">The Maze</p>
                            </div>
                        </article>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-left"> آیا می توانید راه درست را در ماز پیدا کنید؟ </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="boss-single-service-2 wow fadeInUp" data-wow-delay="1s">
                    <img src="/firstpage/img/badges-dark/BADGE-2.png" alt="" class="img-responsive boss-service-2-image">
                    <div class="boss-single-service-2-content">
                        <article class="text-left row">
                            <div class="  col-md-8 col-md-offset-5 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
                                <h3>مرحله دوم</h3>
                                <p class="sub-title"></p>
                            </div>
                        </article>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-left">آیا میتوانید مکان مخفی شدن کلید را پیدا کنید؟</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="boss-single-service-2 wow fadeInUp" data-wow-delay="1s">
                    <img src="/firstpage/img/badges-dark/BADGE-3.png" alt="" class="img-responsive boss-service-2-image">
                    <div class="boss-single-service-2-content">
                        <article class="text-left row">
                            <div class="  col-md-8 col-md-offset-5 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
                                <h3>مرحله اول </h3>
                                <p class="sub-title">Balloons</p>
                            </div>
                        </article>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-right">آیا می توانید بادکنک هایتان را پیدا کنید؟</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ container -->
</section>
<!--/ END service area -->

<!-- START cta area -->



<!--/ END cta area -->
<!-- START cta area -->

<!-- <section class="boss-about-area" id="about"> -->
<!-- container -->
<!--             <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="boss-section-heading wow zoomIn">
                            <h2>KNOW MORE ABOUT US </h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem <br/> Ipsum has been the industry's s</p>
                            <div class="boss-header-border"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <div class="boss-company-work wow fadeIn">
                            <img src="http://i.imgur.com/Jy3EPFh.png" alt="boss company image" class="img-responsive center-block">
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1 text-center">
                        <div class="boss-big-logo wow fadeInLeft">
                            <img src="images/logo.png" alt="boss company logo" class="img-responsive center-block">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="boss-company-history wow fadeInRight">
                            <article>
                                <h3>lOREM has been the industry's stand- <br> ard dummy text ever since the 1500s, <br> when an </h3>
                                <p>Lorem Ipsum is simply dummy text ofLorem Ipsum is simply <br/> dummy text of the printing and typesetting industry. Lorem <br/> Ipsum has been the industry's standard dummy text ever <br/> sincetaining Lorem Ipsum passages, and more recently with  <br/>desktop  the printing and typesetting industry. Lorem Ipsum <br> has been the industry's s</p>
                                <p>Lorem Ipsum is simply dummy text of the printing ann un- <br> known printer took a galley of type and scrambled it to make <br> a type spsed in the 1960s with the release of Letraset sheets <br> containing Lorem Ipsum passages, and more recently with <br> desktop </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div> -->
<!--/ container -->
<!-- </section> -->

<!--/ END cta area -->
<!-- START subscribe area -->
<!--
        <section class="boss-subscribe-area" id="subscribe">
            <div class="boss-dark-overlay"></div> -->
<!-- container -->
<!-- <div class="container">
   <div class="row">
       <div class="col-sm-7">
           <div class="boss-subscibe-left-side wow fadeInLeftBig">
               <h1>GET LIVE UPDATES</h1>
               <h4>IF YOU WANT TO KNOW ABOUT  , JUST CLICK ABOUT AND READ </h4>
               <h4>MORE ABOUT US . </h4>
           </div>
       </div>
       <div class="col-sm-5">
-->
<!-- SUBSCRIBE FORM MESSAGE -->
<!-- <div class="boss-subscribe-message"> -->

<!-- </div> -->
<!--       <form id="mc-form"  class="boss-form wow fadeInRightBig">
          <label for="mc-email" class="boss-subscribe-message"></label>
          <input id="mc-email" type="email" placeholder="YOUR EMAIL HERE"  class="col-sm-12  col-xs-12">
          <input type="submit" value="SUBSCRIBE"  name="subscribe-submit" class="col-sm-6 col-sm-offset-3 col-xs-offset-3 col-xs-6">
      </form>
  </div>
</div>
</div> -->

<!--/ container -->
<!-- </section> -->

<!--/ END subscribe area -->
<!-- START footer area -->

<footer class="boss-footer-area">
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="boss-copyright wow fadeInUp" data-wow-offset="50">
                    <a href="http://acm.ut.ac.ir">
                        <img src="/firstpage/img/logo.png" alt="boss logo" class="img-responsive center-block">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--/ container -->
</footer>

<!--/ END footer area -->



<!-- ===============    /End template markup     =============== -->


<!-- ===============    jQuery core JavaScript     =============== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
<!-- ===============    Bootstrap core JavaScript     =============== -->
<script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>

<!-- ===============    wow core JavaScript     =============== -->
<script type="text/javascript" src="/firstpage/js/wow.min.js"></script>

<!-- ===============    backstretch core JavaScript     =============== -->
<script type="text/javascript" src="/jquery/jquery.backstretch.min.js"></script>

<!-- ===============    countdown core JavaScript     =============== -->
<script type="text/javascript" src="/jquery/jquery.countdown.js"></script>

<!-- ===============    nicescroll core JavaScript     =============== -->
<script type="text/javascript" src="/jquery/jquery.nicescroll.min.js"></script>

<!-- ===============    owl-carousel core JavaScript     =============== -->
<script type="text/javascript" src="/firstpage/js/owl.carousel.min.js"></script>

<!-- ===============    ajaxchimp JavaScript Plugin    =============== -->
<script type="text/javascript" src="/jquery/jquery.ajaxchimp.js"></script>
<!-- ===============    ROW JavaScript Plugin    =============== -->
<script type="text/javascript" src="/firstpage/js/row-plugin.js"></script>

<!-- ===============    Active core JavaScript     =============== -->
<script type="text/javascript" src="/firstpage/js/active.js"></script>


<script type="text/javascript">
    // wow js active here
    new WOW().init({
        offset:       200   // distance to the element when triggering the animation (default is 0)
    });
</script>

</body>
</html>