<!DOCTYPE html>
<html lang="fa-ir">

<head>
    <title>DMC</title>
    <% include partials/head %>
    <style type="text/css">
        .strength-meter{
            margin: 0 auto;
            border-radius: 5px;
            display: inline-block !important;
            position: absolute;
            top: 0;
            left: 100%;
            opacity: 0.6;
            text-align: center;
            width: 80px;
        }
        @media screen and (max-width: 992px){
            .strength-meter{
                display: none !important;
            }
        }
    </style>
</head>
<body>
<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-0"></div>
        <div class="col-md-4 col-xs-12" style=" margin: 25px auto;">
            <h1 style="text-align: center">ثبت‌نام</h1>
            <form  class=" row"  action="<%=baseURL%>/register" method="post">
                <div class="form-group col-xs-12">
                    <input class="form-control" type="text" name="username" placeholder="email" required  data-validation="email" autofocus>
                </div>
                <div class="form-group col-xs-12">
                    <input class="form-control" type="text" name="firstname" lang="fa-ir" placeholder="نام" required data-validation="custom" data-validation-regexp="^[\u0600-\u06FF\uFB8A\u067E\u0686\u06AF7\u200C\u200F ]+$">
                </div>
                <div class="form-group col-xs-12">
                    <input class="form-control" type="text" name="lastname" lang="fa-ir" placeholder="نام خانوادگی" required data-validation="custom" data-validation-regexp="^[\u0600-\u06FF\uFB8A\u067E\u0686\u06AF7\u200C\u200F ]+$">
                </div>
                <div class="form-group col-xs-12">
                    <input class="form-control" type="number" name="studentId" placeholder="شماره داشنجویی" required data-validation="number" data-validation-allowing="range[810192000;810195000]">
                </div>
                <div class="form-group col-xs-12" style="position: relative;">
                    <input class="form-control" type="password" name="password" placeholder="password" required data-validation="strength" data-validation-strength="1">
                </div>
                <div class="form-group col-xs-12">
                    <input class="form-control" type="password" name="password_r" placeholder="repeat password" required data-validation="confirmation" data-validation-confirm="password">
                </div>
                <div class="form-group col-xs-12">
                    <button class="btn btn-lg btn-success btn-block" >ثبت نام</button>
                </div>
            </form>
            <a class="btn btn-primary" href="<%=baseURL%>/">بازگشت</a>
        </div>
    </div>
</div>
<% include partials/footer %>
<% include partials/formvalidation %>
<script>
    $.validate({
      modules : 'security',
      onModulesLoaded : function() {
        var optionalConfig = {
              bad : 'خیلی بده',
              weak : 'ضعیفه',
              good : 'خوبه',
              strong : 'قویه'
            };
        $('input[name="password"]').displayPasswordStrength(optionalConfig);
      }
    });
</script>
</body>
</html>