<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include partials/head %>
</head>
<body>
<% include partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center"><%=user.username%></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/reset/<%= token %>" method="POST">
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block">تنظیم محدد گذرواژه</button>
                </div>
            </form>
            <a class="btn btn-primary" href="/login">بازگشت</a>
        </div>
    </div>
</div>
<% include partials/footer %>
<% include partials/formvalidation %>
</body>
</html>