body{
    padding-top: 70px;
}
.main_countainer{
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 26px;
    min-height: calc(100vh - 70px);
}
.inner_row{
    text-align: center;
    margin-top: 10%;
}
.inner_countainer{
    margin: 0 auto;
    display: inline-block;
}