<%if(false){%><!-- <%=address%>, <%=name%> --><%}%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="DM Contest">
  <meta name="keywords" content="Discrete Mathematics, Contest">
  <title>mail/reminder</title>
  <style type="text/css"><%include ../style %></style>
</head>
<body><div class="dmmail-back">
  <div class="dmmail-countainer">
    <div class="dmmail-header">
      <%include ../header%>
      <h1>خوش‌آمد‌گویی</h1>
    </div>
    <div class="dmmail-cnt">
      <p><%=name%> عزیز</p>
      <p>شما با موفقیت ثبت‌نام کردید.</p>
      <p>تیم فنی مسابقه خوبی را برای شما آرزومند است. :)</p>
    </div>
    <div class="dmmail-footer"><%include ../footer%></div>
  </div>
</div></body>
</html>
