@font-face {
    font-family: IRANSansWeb;
    src: url(../../font/IRANSansWeb.ttf);
}
@font-face {
    font-family: 'BRoya';
    src: url('../../font/BRoya/BRoya.ttf') format('truetype');
}
.count{
    font-family: BRoya,'BRoya',tahoma;
}
body{
    font-family: IRANSansWeb;
}

.navbar{
    border-radius: 0;
}
.jumbotron{
    margin: 20px;
    padding: 20px 0 20px 0;
}
.container{
    width: 100%;
    margin: 0 0 0 0 ;

}
.eachgroup{
    height: 50px;
}
.list-group-item{
    padding: 0;
}