.backch {
  padding: 50px;
}
.navbar {
  border-radius: 0;
}
.container {
  width: 100%;
  margin: 0 0 0 0;
}
.problem-cont {
  min-height: 350px;
}
.eachproblem {
  width: 19%;
  margin: 20px 0.6%;
  min-height: 330px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 50px #dae3f1;
  border-bottom: 2px solid #c0d6e8;
}
.problembod {
  text-align: center;
}
.topproblem {
  margin-bottom: 50px;
  border-bottom: 2px dashed #b6d1e9;
  background: #f6f8fb;
  padding: 1px;
  color: #4372ba;
}
.problembod:hover span {
  display: block;
}
.nextstage {
  width: 100%;
  padding-left: 10px;
}
.problembod span {
  background: #F8F8F8;
  border: 5px solid #DFDFDF;
  color: #717171;
  font-size: 15px;
  height: 100px;
  letter-spacing: 1px;
  line-height: 30px;
  position: absolute;
  text-align: justify;
  text-transform: uppercase;
  top: -100px;
  display: none;
  padding: 0 20px;
}
.problembod span:after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #dfdfdf;
  border-right: 5px solid #dfdfdf;
  background: #f8f8f8;
  left: 50%;
  margin-left: -10px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.thumbnail{
  min-height: 150px;
  position: relative;
  padding-bottom: 60px;
}
.thumbnail .btn-primary{
  position: absolute;
  bottom: 20px;
  left: 30%;
  right: 30%;
}