<!DOCTYPE html>
<html lang="fa-ir">

<head>
    <title>DMC</title>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-0"></div>
        <div class="col-md-4 col-xs-12" style=" margin: 25px auto;">
            <h2>Register Admin</h2>
            <form  class=" row"  action="<%=baseURL%>/admin/register" method="post">
                <div class="form-group col-xs-12">
                    <label style="">Enter your username</label>
                    <input class="form-control" type="text" name="username" placeholder="username" required autofocus>
                </div>
                <div class="form-group col-xs-12">
                    <button class="btn btn-lg btn-primary btn-block" >NEXT</button>
                </div>
            </form>
            <a class="btn btn-lg btn-warning btn-block" href="<%=baseURL%>/">Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<% include ../partials/formvalidation %>
</body>
</html>