<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
</head>
<body>
    <% include ../../partials/header %>
    <div class="container"><div class="row">
        <h1 style="text-align: center">Create a New problem</h1>
        <div class="col-md-4 col-md-offset-4" style="padding: 25px;">
            <form action="/admin/problems" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group" >
                    <textarea class="form-control" id="comment" name="description" rows="10" style="resize: vertical;"></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="answer" placeholder="Answer">
                </div>
                <div class="form-group">
                    <fieldset>
                        <div class="radio"><label><input type="radio" class="" name="type" value="open">File</label></div>
                        <div class="radio"><label><input type="radio" class="" name="type" value="close" checked>Text</label></div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="score" placeholder="Score">
                </div>
                <label class="btn btn-block btn-warning btn-lg">
                    files<input name='file' type="file" style="display: none;" multiple>
                </label>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">Submit!</button>
                </div>

            </form>
            <a class="btn btn-primary" href="/admin/problems">Go Back</a>
        </div>
    </div></div>
    <% include ../../partials/footer %>
</body>
</html>