<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
</head>
<body>

    <div class="row">
        <h1 style="text-align: center">Create a New problem</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/admin/problems" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group" >
                    <textarea rows="10" cols="60" ></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="answer" placeholder="Answer">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="feedback" placeholder="Feedback">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="score" placeholder="Score">
                </div>
                <label class="btn btn-default btn-primary">
                    <span class="glyphicon"></span> files<input
                            name='file' type="file" style="display: none;" multiple>
                </label>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>

            </form>
            <a href="/admin/problems">Go Back</a>
        </div>
    </div>
    <% include ../../partials/footer %>
</body>
</html>