h1, h2, h3{
    color: #195181;
}
.tag a, .tag a:hover, .tag a:active, .tag a:focus{
    color: inherit;
    text-decoration: none;
}
.container{
    width:100%;
    margin: 0;
    min-height: 100vh;
}
.probbd{
    margin: 0 auto;
    padding: 20px 15px;
    background-color: #eeeeee;
    height: 100vh;
    min-height: 440px;
}
.pbd{
    background-color: #F8F8F8;
    min-height: 400px;
    margin-top: 20px;
    border-radius: 10px;
}
.tag{
    background-color: #F8F8F8;
    min-height: 400px;
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 20px;
    width: 23%;
    border-radius: 10px;
}
.list-group-item{
    margin-bottom: 10px;
    border-radius: 6px;
    background: #444;
    color: #fff;
    box-shadow: #222 0 0 15px inset;
    border-color: #000;
}
.form-control{
    margin-bottom: 6px;
    border-radius: 6px;
}
select.form-control{
    -moz-appearance: button-bevel;
}