.container{
    width:100%;
    margin: 0;
    min-height: 100vh;
}
.probbd{
    margin: 20px auto;
    background-color: #eeeeee;
    min-height: 440px;
}
.pbd{
    background-color: #F8F8F8;
    min-height: 400px;
    margin-top: 20px;
    border-radius: 10px;
}
.tag{
    background-color: #F8F8F8;
    min-height: 400px;
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 20px;
    width: 23%;
    border-radius: 10px;
}