.container{

    width:100%;
}
.probbd{
    margin: 20px;
    background-color: #eeeeee;
    min-height: 400px;
}
.pbd{
    background-color: #F8F8F8;
    min-height: 360px;
    margin-top: 20px;
    border-radius: 10px;
}
.tag{
    background-color: #F8F8F8;
    min-height: 360px;
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 20px;
    width: 23%;
    border-radius: 10px;
}