<div><a href="<%=address%>/" target="_blank">صفحه اصلی</a> | <a href="<%=address%>/login" target="_blank">ورود به سایت</a></div>
<div dir="ltr">&copy; 2017 <a href="http://acm.ut.ac.ir/" target="_blank">ACM</a></div>