<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
<div class="backch">
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><span class="glyphicon glyphicon-user"></span> Users</h1>
            </div>
        </div>
    </div>
</div>
     <div class="row text-center" style="/*display:flex; flex-wrap: wrap;*/" id="puzzles_list">
       <div class="col-xs-12" style="padding: 6px 16px; text-align: left;"><input class="form-input search" placeholder="&#xe003;" type="text" /></div>
       <ul class="list" style="list-style: none;">
          <% users.forEach(function(user){ %>
              <li><div class="col-md-3 col-sm-6">
                  <div class="thumbnail">
                     <div class="caption">
                         <h4 class="problemname"><%= user.username %></h4>
                     </div>
                     <p>
                         <a href="/admin/users/<%= user._id %>" class="btn btn-primary">More Info</a>
                     </p>
                  </div>
              </div></li>
          <% }); %>
      </ul>
    </div>
  </div>
  <script src="/listjs/list.min.js"></script>
  <script src="/scripts/problist.js"></script>
  <% include ../../partials/footer %>
</body>
</html>