.boss-scroll-down a:hover,
.boss-scroll-down a:focus {
  background: #008ed6;
  border-color: #008ed6;
}

.boss-cta-area .boss-button a:hover,
.boss-cta-area .boss-button a:focus {
  color: #008ed6;
  border-color: #008ed6;
}

.boss-subscribe-area .boss-form input:focus {
  border-color: #008ed6;
}

.boss-subscribe-area .boss-form input[type="submit"]:hover,
.boss-subscribe-area .boss-form input[type="submit"]:focus {
  border-color: #008ed6;
  background: #008ed6;
}

.boss-footer-area p a:hover,
.boss-footer-area p a:focus,
.boss-section-heading h2,
.boss-home-area .boss-header h1,
.boss-single-service-2 h3 {
  color: #008ed6;
}
